.arsenal-upload-root {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.arsenal-upload-un-clickable-list .ant-upload-list-item-container {
  pointer-events: none;
}

.arsenal-drag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.arsenal-table-view-root {
  display: flex;
  width: 100%;
  height: 100%;
}