.arsenal-upload-root {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.arsenal-upload-un-clickable-list .ant-upload-list-item-container {
  pointer-events: none;
}

.arsenal-drag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.arsenal-table-view-root {
  display: flex;
  width: 100%;
  height: 100%;
}

.arsenal-filled-and-centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arsenal-fgc-container {
  border: 1px dashed transparent;
}

.arsenal-fgc-container.arsenal-drag-over {
  border: 1px dashed #1890ff;
}

.arsenal-fgc-container.arsenal-drag-transition {
  transition: border-color 0.3s ease;
}

.arsenal-watermark {
  position: absolute !important;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.arsenal-file-preview-zip-tree {
  width: 100%;
}

.arsenal-spin-centered {
  position: absolute;
  top: 50%;
  left: calc(50% - 10px);
}
